<html>
    <head>
       <title>About Ninjas</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_sheet.css') }}">
    </head>
    <body>
        <h1>Ninjas are awesome!</h1>
        <h3>Let me tell you a little more about ninjas:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Vitae tempus quam pellentesque nec nam. Dolor sit amet consectetur adipiscing elit duis tristique. 
            Ac feugiat sed lectus vestibulum. Commodo sed egestas egestas fringilla. Nunc sed id semper risus in hendrerit gravida rutrum quisque. 
            Felis imperdiet proin fermentum leo. Viverra suspendisse potenti nullam ac tortor vitae purus.</p>
    </body>
</html>
